@keyframes cursor-blink {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.box {
    width: 100px;
}
